        body {
            padding-top: 50px;
        }

        .container {
            margin-bottom: 30px;
        }

        h1,
        h2 {
            text-align: center;
            margin-bottom: 20px;
        }